<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cuestionario.sedesol.com.democuestionario">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cuestionario.sedesol.paginas.PageOne"
            android:label="@string/title_activity_page_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cuestionario.sedesol.paginas.PageTwo"
            android:label="@string/title_activity_page_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cuestionario.sedesol.paginas.PageThre"
            android:label="@string/title_activity_page_thre"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="DATABASE"
            android:value="sedesol.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="cuestionario.entidades" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB3wENwVk537Nrh6llapXBXe1Jeb-i9qKg" />

        <activity android:name=".IniciarSesion" />
        <activity android:name=".cuestionario.sedesol.paginas.TresAActivity" />
        <activity android:name=".cuestionario.sedesol.paginas.TresBActivity" />
        <activity android:name=".cuestionario.sedesol.paginas.TresCActivity" />
        <activity android:name=".cuestionario.sedesol.paginas.TresCSecondActivity" />
        <activity
            android:name=".cuestionario.sedesol.paginas.IdentificacionDelHogar"
            android:label="@string/title_activity_identificacion_del_hogar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cuestionario.sedesol.paginas.IdentificacionDelHogarSecond" />
        <activity android:name=".cuestionario.sedesol.paginas.ResultadoEncuesta" />
        <activity android:name=".cuestionario.sedesol.paginas.hogar.Pagina1" />
        <activity android:name=".cuestionario.sedesol.paginas.hogar.Pagina2" />
        <activity android:name=".cuestionario.sedesol.paginas.hogar.Pagina3" />
        <activity android:name=".cuestionario.sedesol.paginas.hogar.Pagina4" />
        <activity android:name=".cuestionario.sedesol.paginas.hogar.Pagina5" />
        <activity android:name=".cuestionario.sedesol.paginas.hogar.AgregarIntegrante" />
        <activity android:name=".cuestionario.sedesol.paginas.hogar.DatosIntegrantes" />
        <activity android:name=".cuestionario.sedesol.paginas.GetAllActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CaptureSignature" android:label="Signature Confirmation"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
    </application>

</manifest>